.stack-item{
    display: flex;
    justify-content: center;
}
.stack-name{
    border :2px solid black;
    padding: 20px 80px;
    border-radius: 10px;
    font-size: 25px;
}
.stack-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.stack-wrap{
    width: 40%;
}
.stack-column{
    border :2px solid black;
    padding: 40px 50px;
    border-radius: 10px;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}
.stack-column:hover{
    background: black;
    color: white;
    border: 1px solid white;
    transition-duration: 1s;
    padding: 43px 50px;
}